@model IEnumerable<BanGiayTheThao.Models.Size>

@{
    ViewData["Title"] = "lisSize";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Size</h1>
            </div>
        </div>
    </div>
</section>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Sua", new {  id=item.IdSize  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdSize  }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdSize  })
            </td>
        </tr>
}
    </tbody>
</table>
