@model BanGiayTheThao.Models.NSX

@{
    ViewData["Title"] = "Details";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>NSX</h1>
            </div>
        </div>
    </div>
</section>

<div>
    <h4>NSX</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNSX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNSX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNSX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNSX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNSX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNSX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
